@import "node_modules/nord/src/sass/nord.scss";
header {
  display: flex !important;
  background-color: $nord4;
  flex-direction: row;
  justify-content: space-around;
  .header {
    display: flex;
    padding: 2rem 2rem 0 2rem;
    .logo {
      height: auto;
      width: 300px;
    }
  }
  .menu {
    display: flex;
    ul {
      list-style-type: none !important;
      li {
        margin-right: 1rem;
      }
    }
  }
}
