@import "node_modules/nord/src/sass/nord.scss";
.header {
  display: grid;
  background-color: $nord4;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  .logo_wrap {
    display: flex;
    width: 400px;
    .logo {
      height: auto;
      width: 300px;
    }
  }
  .menu {
    width: 400px;
    margin-left: auto;
    ul {
      list-style-type: none !important;
      display: flex;
      flex-direction: row;
      li {
        margin-right: 1rem;
        a,
        a:hover {
          text-decoration: none;
          color: black;

        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdownContent {
    display: block;
  }
}
