@import "node_modules/nord/src/sass/nord.scss";
.header {
  display: grid;
  background-color: $nord4;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  .logo_wrap {
    display: flex;
    width: 400px;
    .logo {
      height: auto;
      width: 300px;
    }
  }
  .menu {
    width: 400px;
    margin-left: auto;
    ul {
      list-style-type: none !important;
      display: flex;
      flex-direction: row;
      li {
        margin-right: 1rem;
        a,
        a:hover {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
